*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    line-height: 1;
}
main{
    margin: 0 auto;
}
div, h1, p, span {
    font-family: 'Montserrat';
    font-style: normal;
}
.header {
    display: flex;
    max-width: 1200px;
    min-height: 51px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 72px;
    row-gap: 5px;
}
.menu-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}
.photo {
    height: 789px;
    background-image: url("images/image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    display: flex;
    max-width: 1200px;
    min-height: 1440px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-heading {
    display: block;
    margin-top: 48px;
    margin-bottom: 38px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.text {
    display: block;
    max-width: 1215px;
    margin: 0px auto;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.text-paragraph-two {
    margin-top: 28px;
}
.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
    margin-bottom: 82px;
}
.button {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover {
    background: #650909;
}
.text-button {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: block;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
footer{
    display: flex;
    height: 68px;
    width: 1070px;
    margin: 0px auto;
    justify-content: right;
    align-items: center;

}
.text-footer {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}